In [15]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

In [30]:
df = pd.read_csv("Datasetfinal.csv")

In [31]:
X = df.drop(['Text','Emotion'], axis = 1) 
y = df['Emotion'] 
df

                                                  Text   Emotion
0    If I delete your number, you’re basically dele...     Angry
1           A sad soul can kill quicker than a poison.   Sadness
2    I'm not afraid of death; I just don't want to ...      Fear
3          Sometimes I’m just not in the mood to talk.     Angry
4    If you are ashamed of your stupidity, you may ...     Shame
..                                                 ...       ...
496                             The more the merrier.        joy
497  Anger as soon as fed is dead, Its starving mak...     Angry
498  My imagination is rather limited, so it would ...  Surprise
499  It's a pity. I don't know who he is to you... ...   Disgust
500  I can't control everything that's said, but I'...  Surprise

[501 rows x 2 columns]

In [32]:
import neattext.functions as nfx
dir(nfx)
df['clean_text']=df['Text'].apply(nfx.remove_stopwords)
df['clean_text']=df['Text'].apply(nfx.remove_userhandles)
df['clean_text']=df['Text'].apply(nfx.remove_punctuations)
df['clean_text']=df['Text'].apply(nfx.remove_special_characters)

In [33]:
x1=df['clean_text']
y1=df['Emotion']

In [34]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv=CountVectorizer()
x=cv.fit_transform(x1)

In [35]:
df.isnull()

      Text  Emotion  clean_text
0    False    False       False
1    False    False       False
2    False    False       False
3    False    False       False
4    False    False       False
..     ...      ...         ...
496  False    False       False
497  False    False       False
498  False    False       False
499  False    False       False
500  False    False       False

[501 rows x 3 columns]

In [65]:
x_train,x_test,y_train,y_test=train_test_split(x,y1,test_size=0.3,random_state=42)
m1 = LogisticRegression()
m1.fit(x_train,y_train)

LogisticRegression()

In [67]:
m1.score(x_train,y_train)

1.0

In [68]:
pred1 = m1.predict(x_test)
print(classification_report(y_test, pred1))

              precision    recall  f1-score   support

       Angry       0.41      0.48      0.44        25
     Disgust       1.00      0.38      0.55        16
        Fear       0.68      0.83      0.75        23
     Neutral       0.84      0.76      0.80        21
     Sadness       0.24      0.38      0.29        13
       Shame       0.82      0.67      0.73        27
    Surprise       1.00      1.00      1.00        17
         joy       0.67      0.67      0.67         9

    accuracy                           0.66       151
   macro avg       0.71      0.65      0.65       151
weighted avg       0.71      0.66      0.67       151

In [69]:
sample_text=['i will marry you']
vect=cv.transform(sample_text).toarray()

In [70]:
m1.predict(vect)

array(['Angry'], dtype=object)

In [71]:
df

,Text,Emotion,clean_text
0,"If I delete your number, you’re basically dele...",Angry,If I delete your number youre basically delete...
1,A sad soul can kill quicker than a poison.,Sadness,A sad soul can kill quicker than a poison
2,I'm not afraid of death; I just don't want to ...,Fear,Im not afraid of death I just dont want to be ...
3,Sometimes I’m just not in the mood to talk.,Angry,Sometimes Im just not in the mood to talk
4,"If you are ashamed of your stupidity, you may ...",Shame,If you are ashamed of your stupidity you may b...
...,...,...,...
496,The more the merrier.,joy,The more the merrier
497,"Anger as soon as fed is dead, Its starving mak...",Angry,Anger as soon as fed is dead Its starving make...
498,"My imagination is rather limited, so it would ...",Surprise,My imagination is rather limited so it would b...
499,It's a pity. I don't know who he is to you... ...,Disgust,Its a pity I dont know who he is to you But yo...
500,"I can't control everything that's said, but I'...",Surprise,I cant control everything thats said but Ive b...